html {
  --lumo-border-radius-s: 2px;
  --lumo-border-radius-m: 4px;
  --lumo-border-radius-l: 6px;
}

.page-title {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}

.title-section {
  flex: 1;
}

.main-header {
  padding: 0 var(--lumo-space-m);
}

.landing-view {
  text-align: center;
  padding-top: var(--lumo-space-xl);
}
